@page "/cart"


<div class="w-full h-screen bg-[#f9fafb]">
    <Header />
    <div class="w-full ">
        <div class="p-5">

            @if(Carts.Count() == 0)
            {
                <EmptyCart />
            } else
            {
                <div class="w-full flex justify-between  relative">
                    <div class="w-[60%] flex flex-col bg-white p-3 shadow-md rounded-md ">
                        @foreach (var cart in Carts)
                        {
                            <div class="flex justify-between items-center relative p-3">
                                <button class="absolute text-sm font-semibold text-red-500 bottom-0 right-0" @onclick="() => DeleteCart(cart.Id)">Remove </button>
                                <div class="flex gap-3 ">
                                    <div class="p-5 rounded-md">
                                        <img src=@cart.ProductImage
                                             class="w-[100px]" />
                                    </div>
                                    <div class="flex flex-col gap-1 p-5 justify-center">

                                        <h2 class="font-semibold text-xl">
                                            @cart.ProductName
                                        </h2>
                                        <p class="font-semibold text-sm"><span class="text-gray-600">Price: </span>Php. @cart.Price .00</p>
                                        <p class="font-semibold text-sm"><span class="text-gray-600">Size: </span> Large</p>

                                    </div>
                                </div>

                                <div class="flex gap-3 items-center">
                                    <button class="p-2 font-bold text-lg" @onclick="() => DecrementQuantity(cart)"> - </button>
                                    <span class="font-semibold text-xl">@cart.Quantity</span>
                                    <button class="p-2 font-bold text-lg" @onclick="() => IncrementQuantity(cart)"> + </button>



                                </div>


                                <div class="px-10 flex gap-3">
                                    <div class="gap-2 flex items-center">
                                        <label for="countries" class="block mb-2 text-sm font-medium text-gray-600">Size: </label>
                                        <select id="countries" class="bg-gray-50 border border-gray-200 text-gray-900 text- rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2">
                                            <option selected>S</option>
                                            <option value="S">S</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                        </select>
                                    </div>
                                </div>

                                <div>
                                    <h1 class="text-gray-600 ">Total: <span class="font-semibold">@($"{cart.Quantity * cart.Price}")</span></h1>
                                </div>

                            </div>
                        }


                    </div>
                    <div class="w-[30%]  p-5 bg-white max-h-[5000px] rounded-md shadow-md absolute top-0 right-0">
                        <div>
                            <h1 class="text-3xl font-bold">Total Amount </h1>
                            <div class="m-5 p-3 flex justify-between border-b border-gray-300 ">
                                <h2 class="text-gray-500 font-semibold"> Subtotal </h2>
                                <p class="font-semibold"> Php @SubTotal .00</p>
                            </div>

                            <div class="m-5 p-3 flex justify-between border-b border-gray-300">
                                <h2 class="text-gray-500 font-semibold">Shipping Fee</h2>
                                <p class="font-semibold">Php 99.00</p>
                            </div>

                            <div class="m-5 p-3 flex justify-between">
                                <h2 class="font-semibold"> Order Total </h2>
                                <p class="font-semibold">Php @($"{SubTotal + 99}").00</p>
                            </div>

                            <div class="">
                                <button class="bg-black text-white w-full p-4 rounded-md shadow-xl">
                                    Checkout
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            }


        </div>
    </div>
</div>



@code {

}
